
html {
	height:	100%;
	width:	100%;
}

body {
   background:
		url('../images/bg-tile.png') top left repeat,
   		-webkit-linear-gradient(top, #2b475f, #172633); 

}

.uiCanvas {
	z-index: 6;
	position: absolute;
	opacity: 1;
}